<h1>Edit Figure</h1>

<!-- form goes here -->
<form action="/figures" method="POST">
  <input type="hidden" name="_method" value="patch">
  Name:<br>
  <input type = "text" value = <%=@figure.name%> name = "figure[name]"><br>
  <br>
  Landmarks:<br>
  <% @landmarks.each do |landmark| %>
    <% if @figure.landmarks.include?(landmark) %>
      <input type = "checkbox" name = "figure[landmark_ids][]" value = "<%=landmark.id%>" checked><%=landmark.name%><br>
    <% else %>
      <input type = "checkbox" name = "figure[landmark_ids][]" value = "<%=landmark.id%>"><%=landmark.name%><br>
    <% end %>
  <% end %>
  Other (separated by commas): <input type = "text" name = "figure[add_landmarks_by_name]"><br>
  <br>
  <br>
  Titles:<br>
  <% @titles.each do |title| %>
    <% if @figure.titles.include?(title) %>
      <input type = "checkbox" name = "figure[title_ids][]" value = "<%=title.id%>" checked><%=title.name%><br>
    <% else %>
      <input type = "checkbox" name = "figure[title_ids][]" value = "<%=title.id%>"><%=title.name%><br>
    <% end %>
  <% end %>
  Other (separated by commas): <input type = "text" name = "figure[add_titles_by_name]"><br>
  <br>
  <br>
  <input type = "submit" value="Submit"><br>
</form>
